<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371797887319-7jak8115i9ii173dtr1bq1r2sjr4qg1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371797887319-7jak8115i9ii173dtr1bq1r2sjr4qg1p</string>
	<key>API_KEY</key>
	<string>AIzaSyARdOcKa1nmz5wQnZMekCt8QHl7s1g0Sls</string>
	<key>GCM_SENDER_ID</key>
	<string>371797887319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.percyjacobs.singleLoginApp</string>
	<key>PROJECT_ID</key>
	<string>simpleloginapp-293d7</string>
	<key>STORAGE_BUCKET</key>
	<string>simpleloginapp-293d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371797887319:ios:4afa1e1839272f47c89612</string>
</dict>
</plist>